#about {
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 2%;

  .main {
    margin-bottom: 1.25em;

    .img {
      text-align: center;
      img {
        border-radius: 5%;
      }
    }
    .desc {
      text-align: center;
    }
  }
  .journey {
    text-align: center;
  }

  .social-find {
    margin-top: 1.25em;
    .about-social {
      text-align: center;
      li {
        font-size: 1.5em;
        padding: 1em;
        display: inline;
        a {
          color: $pink;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #about {

    .main {
      display: flex;

      .img {
        text-align: center;
        margin-right: 1.25em;
      }
      .desc {
        padding-top: .5em;
        text-align: left;
      }
    }

    .journey {
      text-align: left;
    }
  }
}
