.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  z-index: 3;

  .logo{
    padding-top: 50px;
    text-align: center;
    color: rgba(243, 156, 18,1.0);
    font-family: 'Mrs Saint Delafield', cursive;
    font-size:2.75em;
    font-weight: 700;}

  .mobile-btn {
    display: block;
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(243, 156, 18,1.0);
    cursor: pointer;
  }

  .nav-list-item {
    display: none;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #555;
    &:last-of-type {
      border-bottom: none;
    }
    a {
      color: rgba(243, 156, 18,1.0);
    }
  }
}

@media (min-width: 768px) {
  .nav-menu {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;

    .logo{
      padding: 35px 20px;
      text-align: center;
      font-family: 'Mrs Saint Delafield', cursive;
      font-size:2.75em;
      font-weight: 700;}

    .mobile-btn {
      display: none;
    }

    .nav-list-item {
      margin-top: 15px;
      display: inline-block;
      background-color: transparent;
      text-align: center;
      padding: 20px;
      font-size: 1.2em;
      text-transform: uppercase;
      border-bottom: none;
      &:last-of-type {
        border-bottom: none;
      }
      a {
        &:hover {
          color: rgba(243, 156, 18,0.6);

        }
      }
    }
  }
}
