.nav {
  height: 100vh;
  width: 100%;
  left: -1260px;
  background: $dim;
  position: fixed;
  color: $white;
  transition: 750ms;

  .nav-logo {
    display: block;
    height: 150px;
    padding-top: 1.25em;
    padding-left: .5em;

    img {
      width: 100px;
    }
  }

  .close-btn {
    display: none;
    position: fixed;
    cursor: pointer;
    right: 20px;
    top: 15px;
    font-size: 1.5em;
  }

  .nav-menu {
    text-align: center;
    margin-top: 25px;

    .nav-list {
      font-size: 1.35em;

      li {
        margin: 1.25em auto;

        &:hover {
          color: $liteBrown;

          i {
            transform: scale(1.25);
          }
        }
      }
    }
  }

  .nav-social {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    position: fixed;
    left: 0;
    width: 150px;
    background: $black;
    text-align: center;

    .close-btn {
      display: none;
    }

    .nav-logo {
      padding-left: 0;
    }

    .nav-menu {
      margin-top: 50px;
    }

    .nav-social {
      display: block;
      position: fixed;
      bottom: 20px;
      width: 150px;

      .social {

        li {
          display: inline-block;
          margin: .2em;
          border: $pink 2px solid;
          border-radius: 510px;
          font-size: 2em;
          width: 55px;
          height: 55px;
          text-align: center;
          padding-top: .2em;

          &:hover {
            color: $pink;
            background-color: $white;
            transform: scale(.75);
          }
        }
      }
    }
  }
}
